body {
    background-color: rgb(225, 154, 41);
    background-image: url(https://c1.wallpaperflare.com/preview/157/959/581/wood-board-structure-world.jpg);
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
  }